* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  line-height: 1.5;
  background-color: #f1e3dd;
  font-size: 18px;
  min-width: 320px;
}

main {
  margin: 0 auto;
  padding: 5%;
}

.error-page {
  margin: 0;
  padding: 2%;
  color: red;
}

.search-form,
.results {
  padding: 2%;
}

@media screen and (min-width: 1024px) {
  main {
    width: 1024px;
  }
}
